.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px 12px;
  font-size: 14px;
}

.table > thead > tr.theader {
  background-color: floralwhite;
  text-transform: uppercase;
  font-weight: 600;
}

.table > thead > tr > th {
  font-size: 13px;
  line-height: 16px;
  white-space: nowrap;
}

.table > thead > tr > th.tfilter {
  padding: 2px 5px;
  font-weight: 400;
}

.table > thead > tr > th.tfilter > div > label.divFilter {
  font-size: 10px;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: floralwhite !important;
}

.bg-white {
  --bs-table-accent-bg: #ffffff !important;
}

.delete-icon-container {
  text-align: center;
  cursor: pointer;
}

.delete-icon-container img {
  height: 24px;
}

.page-title {
  text-align: center;
  margin-bottom: 16px;
}

.accordion {
  margin-bottom: 16px;
}

.accordion-header .accordion-button {
  background-color: floralwhite !important;
  color: #212529 !important;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 8px;
  padding-right: 8px;
  cursor: default !important;
}

.accordion-header .accordion-button:focus {
  box-shadow: none;
}

.accordion-item {
  border-radius: 0 !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: none !important;
  cursor: default;
}
